<div>
	<app-todo-item-search (onTextFilter)='onTextFilter($event)' (onStatusFilter)="onStatusFilter($event)">
	</app-todo-item-search>
	<hr />

	<div *ngIf="todoService.filteredTodo!.length > 0; else notFiltered">
		<div *ngFor="let todo of todoService.filteredTodo">
			<app-todo-item [todo]="todo" (onStatusUpdate)="onStatusUpdate($event)" (onDeleteTodo)="onDeleteTodo($event)">
			</app-todo-item>
		</div>
	</div>

	<ng-template #notFiltered>
		<div *ngFor="let todo of todoService.todos">
			<app-todo-item [todo]="todo" (onStatusUpdate)="onStatusUpdate($event)" (onDeleteTodo)="onDeleteTodo($event)">
			</app-todo-item>
		</div>
	</ng-template>

	<app-new-todo-item (onAddTodo)='onAddTodo($event)'></app-new-todo-item>
</div>