// div {
// 	display: flex;
// 	flex-direction: column;
// }

.auth {
	margin: 0 40%;
}

input {
	outline: none;
}

input, button {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px grey;
	border: 1px solid grey;
}

.auth_auth-button {
	display: flex;
	justify-content: center;
}

button {
	width: 50%;
	font-weight: 700;
	margin: 20px;
}

.auth_input {
	display: flex;
	flex-direction: column;
}
