<div>
	<p [ngClass]="getClass(todo.status)">{{todo.title}}</p>
	<div class="search-block_search-status">
		<select [(ngModel)]="selected" (change)="changed()">
			<option value="">Выберите статус:</option>
			<option *ngFor="let status of statuses" value={{status.status}}
				[ngValue]="{newStatus: status.status, id: todo.id}">
				{{status.name}}</option>
		</select>
	</div>
	<div>
		<button class="delete-sign" (click)="onDeleteTodo.emit(todo.id)">&#10008;</button>
	</div>
	<!-- <app-todo-item-select (onStatusUpdate)="onStatusUpdate.emit($event)" [todo]="todo"></app-todo-item-select> -->
</div>