div {
	display: flex;
	justify-content: center;
	align-items: baseline;
	font-size: large;
}

.done {
	text-decoration: line-through;
}

.important {
	color: red;
	font-weight: 900;
}

.important::after {
	content: '!';
}

.usual {
	font-weight: 600;
}

p {
	padding-right: 10px;
}

input, select, button {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

input, select {
	box-shadow: 2px 2px 1px grey;
	border: 1px solid grey;
	
	outline: none;
}